footer {
  background-color: #0073e6;
  color: #fff;
  text-align: center;
  padding: 3.2rem 0;
  position: relative;
  width: 100%;
  bottom: -10px;
}

#root {
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}